on:
  push:
    branches:
      - master
  release:
    types:
      - created

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    env:
      NPM_TOKEN: ${{secrets.GITHUB_TOKEN}}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Install dependencies
        run: npm ci
      - name: Linux Tests
        run: xvfb-run -a npm test
        if: runner.os == 'Linux'
      - name: Windows/MacOS Tests
        run: npm test
        if: runner.os != 'Linux'

      - name: test
        run: echo "${{ github.ref }}"

      - name: Publish
        if: success() && startsWith( github.ref, 'refs/tags/releases/') && runner.os == 'Linux'
        run: npm run deploy
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
